{% extends "base.html" %}
{% block script %}
<script>
    function getParameterByName(name, url) {
        if (!url) url = window.location.href;
        name = name.replace(/[\[\]]/g, '\\$&');
        var regex = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)'),
            results = regex.exec(url);
        if (!results) return null;
        if (!results[2]) return '';
        return decodeURIComponent(results[2].replace(/\+/g, ' '));
    }

$(document).ready(function(){
    console.log("heyyy");
    var query = getParameterByName('q')
    var tweetList = [];

    function attachTweet(tweetValue){

        var dateDisplay = tweetValue.date_display;
        var tweetUser = tweetValue.user;
        var tweetContent = tweetValue.content;
        var tweetFormattedHtml = "<div class=\"media\"><div class=\"media-body\">"+ tweetContent + "<br/> via " + tweetUser.username + " | " + dateDisplay + " | " + "<a href='#'>View</a>" + "</div></div><hr/>" 

        $("#tweet-container").prepend(tweetFormattedHtml)

    }

    function parseTweets(){
        if (tweetList == 0) {
            $("#tweet-container").text("No tweets currently found")

        } else {
            $.each(tweetList, function(key,value){
                attachTweet(value)
            })
        }
    }


    function fetchTweets(){
        $.ajax({
            url: "/api/tweet/",
            data: {
                "q": query
            },
            method: "GET",
            success: function(data){
                tweetList = data
                parseTweets()
            },
            error: function(data){
                console.log("error")
                console.log(data)
            }
        })

    }

    fetchTweets()
    
    var charStart = 140;
    var charCurrent = 0;

    $("#tweet-form").append("<span id='tweetCharsLeft'>" + charStart + "</span>")
    $("#tweet-form").keyup(function(e){
        var tweetValue = $(this).serializeArray()[1].value.length;
        charCurrent = charStart - tweetValue;
        spanChars = $("#tweetCharsLeft");
        spanChars.text(charCurrent);
         
        if (charCurrent > 0){
            spanChars.removeClass("grey-color")
            spanChars.removeClass("red-color")
        } else if (charCurrent == 0){
            spanChars.removeClass("red-color")
            spanChars.addClass("grey-color")
        } else if (charCurrent < 0){
            spanChars.removeClass("grey-color")
            spanChars.addClass("red-color")
        }

    })

    function createTweet(formData){
        $.ajax({
            url: "/api/tweet/create",
            data: formData,
            method: "POST",
            success: function(data){
                // console.log(data)
                this_.find("input[type=text], textarea").val("")
                attachTweet(data)
            },
            error: function(data){
                console.log("error")
                console.log(data.statusText)
                console.log(data.status)
            }
        })

    }

    $("#tweet-form").submit(function(event){
        event.preventDefault()
        var this_ = $(this)
        var formData = this_.serialize()
        if (charCurrent >= 0){
            createTweet(formData);
        }
        else {
            console.log("tweet too long");
        }

    })

});
</script>
{% endblock script %}

{% block content  %}

<div class="row">
    <div class="col-sm-3 col-xs-12" >
        <h1>{{ request.user }}</h1>
    </div>
    <div class="col-sm-9">
        {% if not request.GET.q %}
        <div class="">
            {% include "tweets/form.html" with form=create_form action_url=create_url btn_title="Tweet" form_id="tweet-form" %}

        </div>
        <hr/>
        {% endif %}

        <div id="tweet-container"> </div>

        <!-- {% for obj in object_list %} -->
        <!-- <div class="media"> -->
        <!--     {% if obejct.image %} -->
        <!--     <img class="mr-3" src="..." alt="Generic placeholder image"> -->
        <!--     {% endif %} -->
        <!--     <div class="media-body"> -->
        <!--         <p>{{ obj.content}}<br/> -->
        <!--         via {{ obj.user}} | {{ obj.timestamp|timesince }} ago | <a href="{{ obj.get_absolute_url }}">View</a> </p><br/><br/> --> 
        <!--     </div> -->
        <!-- </div> -->
        <!-- <hr/> -->

        <!-- {% empty %} -->
        <!-- {% if request.GET.q %} -->
        <!-- <p>No tweets found</p> -->
        <!-- {% else %} -->
        <!-- <p>No tweets yet.</p> -->
        <!-- {% endif %} -->
        <!-- {% endfor %} -->

    </div>
</div>
{% endblock content  %}

