{% extends "base.html" %}

{% block content  %}
<div class="row">
    <div class="col-sm-3 col-xs-12" >
        <h1>{{ request.user }}</h1>
    </div>
    <div class="col-sm-9">
        {% if not request.GET.q %}
        <div class="">
            {% include "tweets/form.html" with form=create_form action_url=create_url btn_title="Tweet" %}

        </div>
        <hr/>
        {% endif %}

        {% for obj in object_list %}
        <div class="media">
            {% if obejct.image %}
            <img class="mr-3" src="..." alt="Generic placeholder image">
            {% endif %}
            <div class="media-body">
                <p>{{ obj.content}}<br/>
                via {{ obj.user}} | {{ obj.timestamp|timesince }} ago | <a href="{{ obj.get_absolute_url }}">View</a> </p><br/><br/> 
            </div>
        </div>
        <hr/>

        {% empty %}
        {% if request.GET.q %}
        <p>No tweets found</p>
        {% else %}
        <p>No tweets yet.</p>
        {% endif %}
        {% endfor %}

    </div>
</div>
{% endblock content  %}

