{% extends "base.html" %}
{% block script %}
<script>

$(document).ready(function(){
    loadTweetContainer("tweet-container")
});
</script>
{% endblock script %}

{% block content  %}

<div class="row">
    <div class="col-sm-3 col-12" >
        <h1>{{ request.user }}</h1>
    </div>
    <div class="col-sm-9">
        {% if not request.GET.q %}
        <div class="">
            {% include "tweets/form.html" with form=create_form action_url=create_url btn_title="Tweet" form_class="tweet-form" %}

        </div>
        <hr/>
        {% endif %}

        <div id="tweet-container" data-url="/api/tweet/"> </div>
        <a href="#" id="loadmore">Load More Tweets</a>

    </div>
</div>
{% endblock content  %}

<!-- {% for obj in object_list %} -->
<!-- <div class="media"> -->
<!--     {% if obejct.image %} -->
<!--     <img class="mr-3" src="..." alt="Generic placeholder image"> -->
<!--     {% endif %} -->
<!--     <div class="media-body"> -->
<!--         <p>{{ obj.content}}<br/> -->
<!--         via {{ obj.user}} | {{ obj.timestamp|timesince }} ago | <a href="{{ obj.get_absolute_url }}">View</a> </p><br/><br/> --> 
<!--     </div> -->
<!-- </div> -->
<!-- <hr/> -->

<!-- {% empty %} -->
<!-- {% if request.GET.q %} -->
<!-- <p>No tweets found</p> -->
<!-- {% else %} -->
<!-- <p>No tweets yet.</p> -->
<!-- {% endif %} -->
<!-- {% endfor %} -->
