{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title> {% block title %} Tweetme.co {% endblock title %}</title>

        <!-- Bootstrap CSS -->
        <!-- <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet"> -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <!-- <script src="{% static 'js/jquery-3.4.1.js' %}" ></script> -->
        <!-- <script src="{% static 'js/bootstrap.min.js' %}" ></script> -->
        <style>
        .red-color {
            color: red;
        }
        .grey-color {
            color: #ccc;
        }
        .media-focus {
            background-color: rgba(255, 255, 0, 0.22);
        }
        </style>
        <!-- Optional JavaScript -->
        <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>


    </head>
    <body>
        <div class='container'>

            {% include "navbar.html" %}
            <div class="container">

                {% block content %} 
                {% endblock content %}
            </div>
            {% include "reply-modal.html" %}
        </div>
        <script charset="utf-8">
            function getParameterByName(name, url) {
        if (!url) url = window.location.href;
        name = name.replace(/[\[\]]/g, '\\$&');
        var regex = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)'),
            results = regex.exec(url);
        if (!results) return null;
        if (!results[2]) return '';
        return decodeURIComponent(results[2].replace(/\+/g, ' '));
    }

    function loadTweetContainer(tweetContainerId, fetchOneId){
        var query = getParameterByName('q')
        var tweetList = [];
        var nextTweetUrl;
        var tweetContainer;

        if (tweetContainerId){
            tweetContainer = $("#" + tweetContainerId)
        } else { 
            tweetContainer = $("#tweet-container")
        }

        var initialUrl = tweetContainer.attr("data-url") || "/api/tweet/"


        $(document.body).on("click", ".tweet-like", function(e){
            e.preventDefault()
            var this_ = $(this)
            // this_.text("Liked")
            tweetId = this_.attr("data-id")
            var likeUrl = "/api/tweet/" + tweetId + "/like/"
            $.ajax({
                url: likeUrl,
                method: "GET",
                success: function(data){
                    if (data.liked){
                        this_.text("Liked")
                    } else {
                        this_.text("Unliked")
                    }
                },
                error: function(data){
                    console.log("like error")
                    console.log(data)
                }
            })
        })
        $(document.body).on("click", ".tweet-reply", function(e){
            //e.preventDefault()
            //console.log("reply clicked")
            //var url = "/api" + $(this).attr("href")
            e.preventDefault()
            var this_ = $(this)

            var parentId = this_.attr("data-id")
            var username = this_.attr("data-user")
            var content = this_.parent().parent().find(".content").text()
            console.log(content)
            $("#replyModal").modal({})
            $("#replyModal textarea").after("<input type='hidden' name='parent_id' value='" + parentId + "' />")
            $("#replyModal textarea").after("<input type='hidden' name='reply' value='" + true + "' />")
            $("#replyModal textarea").val("@"+username)
            $("#replyModal #replyModalLabel").text("Reply to " + content)
            $("#replyModal").on("shown.bs.modal", function(){
                $("textarea#tweetReplyArea").focus()
            })
        })

        $(document.body).on("click", ".retweetBtn", function(e){
            e.preventDefault()
            console.log("retweet clicked")
            var url = "/api" + $(this).attr("href")

            $.ajax({
                url: url,
                // data: formData,
                method: "GET",
                success: function(data){
                    // if username in api call ignore
                    if (initialUrl == "/api/tweet/"){
                        attachTweet(data, true, true)
                        updateHashLinks()
                    }
                },
                error: function(data){
                    console.log("error")
                    console.log(data)
                }
            })
        })


        function updateHashLinks(){
            $(".media-body").each(function(data){

                var hashtagRegex = /(^|.)#([\w\d-]+)/g
                var usernameRegex = /(^|.)@([\w\d-]+)/g
                var currentHTML = $(this).html();
                var newText;
                newText = currentHTML.replace(hashtagRegex, "$1<a href='/tags/$2/'>#$2</a>")
                newText = newText.replace(usernameRegex, "$1<a href='/$2/'>@$2</a>")
                $(this).html(newText)
            })

        }

        function formatTweet(tweetValue){
            var likeVerb = "Like"
            var formattedTweetContent;             
            var preContent = ""
            var isReply = tweetValue.reply
            var replyId = tweetValue.id

            // always reply to og tweet
            if (tweetValue.parent) {
                replyId = tweetValue.parent.id
            }

            // highlight the clicked tweet
            var openingContainerDiv = "<div class=\"media\">"
            if (tweetValue.id == fetchOneId) {
                openingContainerDiv =  "<div class=\"media media-focus\">"
                setTimeout(function(){
                    $(".media-focus").css("background", "#fff")
                }, 2000)
            }

            // if it's a retwwet or a reply use the original tweet
            if (tweetValue.parent && !isReply){
                tweetValue = tweetValue.parent;
                preContent = "<span class='grey-color'>" + "Retweet via "+ tweetValue.user.username + " on " +  tweetValue.date_display + "</span><br/>" 
            } else if (tweetValue.parent && isReply){
                preContent = "<span class='grey-color'>" + "Reply to @"+ tweetValue.parent.user.username + "</span><br/>" 
            }

            if (tweetValue.did_like){
                likeVerb = "Liked"
            }

            var tweetContent = "<span class='content'>" + tweetValue.content + "<br/></span>"
            var viewButton = " | " + "<a href='/tweet/" + tweetValue.id + "'>View</a>"
            var userName = " via <a href='" + tweetValue.user.url + "'>" + tweetValue.user.username + "</a>" 
            var dateDisplay = " | " + tweetValue.date_display 
            var retweetButton = " | " + "<a class='retweetBtn' href='/tweet/" + tweetValue.id + "/retweet" + "'>Retweet</a>"
            var likeButton = " | <a href='#' class='tweet-like' data-id='" + tweetValue.id + "'>"+ likeVerb + " ("+ tweetValue.likes +")</a>"
            var replyButton = " | " + "<a class='tweet-reply' data-id='" + replyId + "' data-user='" + tweetValue.user.username + " 'href='#'>Reply</a>"

            formattedTweetContent = tweetContent  + userName +  dateDisplay + viewButton + retweetButton + likeButton + replyButton

                var container =  openingContainerDiv + "<div class=\"media-body\">" + preContent + formattedTweetContent +"</div></div><hr/>" 
                return container

        }

        function attachTweet(tweetValue, prepend, retweet){

            var tweetFormattedHtml = formatTweet(tweetValue)

            if (prepend){
                tweetContainer.prepend(tweetFormattedHtml)
            } else {
                tweetContainer.append(tweetFormattedHtml)
            }
        }

        function parseTweets(){
            if (tweetList == 0) {
                tweetContainer.text("No tweets currently found")

            } else {
                $.each(tweetList, function(key,value){
                    if (value.parent) {
                        attachTweet(value, false, true)
                    } else {
                        attachTweet(value)
                    }
                })
            }
        }


        function fetchTweets(url){
            var fetchUrl
            if (!url){
                fetchUrl = initialUrl
            }
            else{
                fetchUrl = url
            }
            $.ajax({
                url: fetchUrl,
                data: {
                    "q": query
                },
                method: "GET",
                success: function(data){
                    tweetList = data.results
                    if (data.next){
                        nextTweetUrl = data.next
                    } else {
                        $("#loadmore").css("display", "none")
                    }

                    parseTweets()
                    updateHashLinks()
                },
                error: function(data){
                    console.log("error")
                    console.log(data)
                }
            })

        }

        function fetchSingle(fetchOneId){
            var fetchDetailUrl = "/api/tweet/" + fetchOneId + "/"
            $.ajax({
                url: fetchDetailUrl,
                method: "GET",
                success: function(data){
                    tweetList = data.results
                    parseTweets()
                    updateHashLinks()
                },
                error: function(data){
                    console.log("error")
                    console.log(data)
                }
            })

        }

        if (fetchOneId){
            fetchSingle(fetchOneId)
        } else {
            fetchTweets()
        }

        $("#loadmore").click(function(event){
            event.preventDefault()
            if (nextTweetUrl){
                fetchTweets(nextTweetUrl)

            }
        })

        var charStart = 140;
        var charCurrent = 0;

        $(".tweet-form").append("<span class='tweetCharsLeft' style='margin-left: 20px'>" + charStart + " left</span>")
        $(".tweet-form  textarea").keyup(function(e){
            var tweetValue = $(this).val()
            charCurrent = charStart - tweetValue.length;
            var spanChars = $(this).parent().parent().parent().find("span.tweetCharsLeft");
            spanChars.text(charCurrent);
            if (charCurrent > 0){
                spanChars.removeClass("grey-color")
                spanChars.removeClass("red-color")
            } else if (charCurrent == 0){
                spanChars.removeClass("red-color")
                spanChars.addClass("grey-color")
            } else if (charCurrent < 0){
                spanChars.removeClass("grey-color")
                spanChars.addClass("red-color")
                }

                })

                function createTweet(formData, this_){
                $.ajax({
                url: "/api/tweet/create",
                data: formData,
                method: "POST",
                success: function(data){
                // console.log(data)
                // clear text field
                this_.find("input[type=text], textarea").val("")
                attachTweet(data, true)
                updateHashLinks()
                $("#replyModal").modal("hide")
                },
                error: function(data){
                console.log("error")
                console.log(data.statusText)
                console.log(data.status)
                }
                })

                }

                $(".tweet-form").submit(function(event){
                event.preventDefault()
                var this_ = $(this)
                var formData = this_.serialize()
                if (charCurrent >= 0){
                createTweet(formData, this_);
            }
            else {
                console.log("tweet too long");
            }

        })

    }
        </script>
        {% block script %}{% endblock script %}

        <script charset="utf-8">
            $(document).ready(function(){
                var typingTimer;
                var doneInterval = 500; //in ms
                var searchInput = $("#navbar-search-form input[type=text]")
                var searchQuery;

                searchInput.keyup(function(event){
                    searchQuery = $(this).val()
                    clearTimeout(typingTimer)
                    typingTimer = setTimeout(doneSearchTyping, doneInterval)

                })
                searchInput.keydown(function(event){
                    clearTimeout(typingTimer)

                })

                function doneSearchTyping(){
                    var url = "/tweet/search/?q=" + searchQuery
                    document.location.href = url;
                }

            })
        </script>
    </body>
</html>
